<div>
  <h3>Tasks</h3>
  <div>
    <div *ngFor="let task of this.tasks$ | async">
      {{task.id}} - {{task.title}}
      <a class="ml-2" href="javascript:;" (click)="showTaskEdit(task)">Edit</a>
    </div>
  </div>

  <div *ngIf="editTask" style="margin-top: 10px;">
    <input [(ngModel)]="editTask.title" placeholder="please input task title" (keydown.enter)="updateTask(editTask)">
    <div class="mt-2">
      <button (click)="updateTask(editTask)" class="btn-primary">Submit</button>
      <button (click)="editTask = null" class="btn-light ml-2">Cancel</button>
    </div>
  </div>
</div>

<hr>
<div>
  <h3>Add Task</h3>
  <input [(ngModel)]="addTaskTitle" placeholder="please input task title" (keydown.enter)="addTask(addTaskTitle)">
  <div class="mt-2">
    <button (click)="addTask(addTaskTitle)" class="btn-primary">Submit</button>
  </div>
</div>

<hr>
<div>
  <button class="btn-primary" (click)="initializeProject()">Initialize Project</button>
  <p>{{projectMessage}}</p>
</div>